<div class="main-content">
 {{>header}}
 <p>Use this site to get your weather data.</p>
 <form>
    <input type="text" name="" id="" placeholder="Enter your address">
    <button type="submit"> Search</button>
 </form>
 <p id="message_1"></p>
 <p id="message_2"></p>
</div>
    {{> footer}}
 